<Html> <head> <style> body {
background-image: url('https://img.freepik.com/free-photo/doctor-with-stethoscope-hands-hospital-background_1423-1.jpg?w=1800&t=st=1668702411~exp=1668703011~hmac=047fae6811513a4651b03705e3eecb3edadfc3e5263a1ad02486fc8b578d5115');
background-repeat: no-repeat; background-attachment: fixed; background-size: cover;
}
</style>
</head>
<body>
<title>home </title>
<h1><b>LIVER DISEASE </b></h1></head>
<body>
<h3><b>SYMTOMS:</b></h3>
<p>1.Skin and eyes that appear yellowish (jaundice)<br>
2.Abdominal pain and swelling<br> 3.Swelling in the legs and ankles<br> 4.Itchy skin<br>
5.Dark urine color<br>
6.Pale stool color<br>
7.Chronic fatigue<br>
8.Nausea or vomiting<br>
9.Loss of appetite<br>
10.Tendency to bruise easily<br></p><br>
<h3><b>TOTAL BILIRUBIN: </b></h3>
 
<p>This is a blood test that measures the amount of a substance called bilirubin. This test is used to find out how well your liver is working. It is often part of a panel of tests that measure liver function. A small amount of bilirubin in your blood is normal, but a high level may be a sign of liver disease.</p>
<h3><b>DIRECT_BILIRUBIN:</b></h3>
<p>In the liver, bilirubin is changed into a form that your body can get rid of. This is called conjugated bilirubin or direct bilirubin. This bilirubin travels from the liver into the small intestine. A very small amount passes into your kidneys and is excreted in your urine. This bilirubin also gives urine its distinctive yellow color.</p><br>
<h3><b>ALKALINE_PHOSPHOTASE:</b></h3>
<p>An alkaline phosphatase level test (ALP test) measures the amount of alkaline phosphatase enzyme in your bloodstream.</p><br>
<h3><b>ALBUMIN:</b></h3>
<p>An albumin blood test is used to check your general health and to see how well your liver and kidneys are working. If your liver is damaged or you're not well nourished, your liver may not make enough albumin.</p><br>
</body> </html>